doctype html
head
  meta(charset='UTF-8')
  title parcel app
  link(rel='stylesheet' href='./style.scss')
.main
  .nav
  header
    h1.title Fast-Paced Multiplayer: Sample Code and Live Demo
  style.
  a(href='http://www.gabrielgambetta.com/client-side-prediction-live-demo.html') original demo can be found here
  p
    | This is a sample implementation of a client-server architecture demonstrating the main concepts
    | explained in
    | my ast-Paced Multiplayer series of articles. It won&rsquo;t
    | make much sense unless you&rsquo;ve read the articles first.
  p
    | The code is pure JavaScript and it&rsquo;s fully contained in this page. It&rsquo;s less than 500 lines of code,
    | including a lot of comments, showing that once you really understand the concepts, implementing them is
    | relatively straightforward.
  p
    | Although it&rsquo;s not production-quality code, you may use this code in your own applications. Credit is
    | appreciated although not required.
  div(style='border: 5px solid #2196F3; padding: 15px;')
    p
      b Player 1 view
      |  - move with W, A, S and D keys
      br
      |                 Lag = 
      input#player1_lag(type='text' size='5' value='250')
      |                 ms &middot; 
      input#player1_prediction(type='checkbox')
      |                 Prediction &middot; 
      input#player1_reconciliation(type='checkbox')
      |                 Reconciliation &middot; 
      input#player1_interpolation(type='checkbox')
      | Interpolation
    div#player1_view_container
    #player1_status(style='font-family:courier;') Non-acknowledged inputs: 0
  div(style='height: 1em;')
  div(style='border: 5px solid darkgrey; padding: 15px;')
    p
      b Server view
      |  &middot; Update 
      input#server_fps(type='text' size='5' value='3')
      |  times per second
      |  &middot; Set maximum accepted press time to 
      input#server_max_pressed_time(type='text' size='5' value='100')
      |  ms
    div#server_view_container
    #server_status(style='font-family:courier;')
      | Last acknowledged input: Player 0: #1566 Player 1:
      | #132
  div(style='height: 1em;')
  div(style='border: 5px solid #F44336; padding: 15px;')
    p
      b Player 2 view
      |  - move with UP, DOWN, LEFT and RIGHT arrow keys 
      br
      |                 Lag = 
      input#player2_lag(type='text' size='5' value='150')
      |                 ms &middot; 
      input#player2_prediction(type='checkbox')
      |                 Prediction &middot; 
      input#player2_reconciliation(type='checkbox')
      |                 Reconciliation &middot; 
      input#player2_interpolation(type='checkbox')
      | Interpolation
    div#player2_view_container
    #player2_status(style='font-family:courier;') Non-acknowledged inputs: 0
script(src='./index.ts')
