body {
  font-family: sans-serif;
  input{
    
    border: 1px solid #cacaca;
    padding: 2px 6px;
    text-align: right;
  }
}
.main {
  canvas {
    border: 1px solid #d8d8d8;
    background: #f3f3f3;
  }
}
